# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Test & Cache
# ==========================
.pytest_cache/
.mypy_cache/
.cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/
